<html>
<head>
<title>Django Girls blog</title>
</head>
<body>
<div>
<h1><a href="">Django Girls Blog</a></h1>
</div>
<div>
<p>published: 29.10.2016, 3:09</p>
<h2><a href="">My first post</a></h2>
<p>The first step is to start a new Django project. Basically, this means that we'll run some scripts provided by Django that will
create the skeleton of a Django project for us. This is just a bunch of directories and files that we will use later.
The names of some files and directories are very important for Django. You should not rename the files that we are about to.</p>
</div>
<div>
<p>published: 29.10.2016, 3:</p>
<h2><a href="">My second post</a></h2>
<p>should you use a dictionary or a list? Well, that's a good point to ponder. Just have a solution in mind before looking>.</p>
</div>
</body>
</html>